/venv/
/.DS_Store
Models/__pycache__/Players.cpython-310.pyc
Models/__pycache__/Tournament.cpython-310.pyc
Models/__pycache__/Players.cpython-310.pyc
Models/__pycache__/Players.cpython-310.pyc
Controllers/__pycache__/TournamentTime.cpython-310.pyc
Controllers/__pycache__/Tournament.cpython-310.pyc
Controllers/__pycache__/Players.cpython-310.pyc
Models/__pycache__/Players.cpython-310.pyc
Controllers/__pycache__/Players.cpython-310.pyc
Controllers/__pycache__/Players.cpython-310.pyc
Models/__pycache__/Players.cpython-310.pyc
Views/__pycache__/display_board.cpython-310.pyc
Views/__pycache__/Players.cpython-310.pyc
Views/__pycache__/Tournament.cpython-310.pyc
/__pycache__ /
/.idea/
/.gitignore/